<footer>
  <div class="container">
    <div class="flex-container">
      <div class="flex-item--50 footer-contact">
        <p class="gold"><strong>Kamil Serefko - intunity</strong></p>
        <p><a href="tel:+48-602-383-021">+48-602-383-021</a></p>
        <p><a href="mailto:kontakt@intunity.pl">kontakt@intunity.pl</a></p>
        <p><a href="http://www.intunity.pl">www.intunity.pl</a></p>
      </div>
      <div class="flex-item--50 footer-copyright">
        <p>&#9400; 2017 <a class="gold" href="http://www.intunity.pl" target="_blank">intunity</a></p>
        <p>created by <a class="gold" href="http://www.wkrawiec.pl" target="_blank">wkrawiec.pl</a></p>
      </div>
    </div>
  </div>
</footer>