<section id="about" class="bg-white">
  <div class="container">
      <div class="flex-container">
        <div class="flex-item--60">
        <h1><strong>intunity</strong></h1>
        <p>
          Intunity to program stworzony dla osób pragnących rozwijać się oraz czerpać inspiracje z muzyki.
        </p>
        <p>
          Uczestnikiem programu może zostać każdy, niezależnie od wieku, dotychczasowej edukacji muzycznej i posiadanych doswiadczeń.
        </p> 
        <p>
          Program intunity ma na celu nauczyć grać na instrumencie każdego, kto się do nas zgłosi. 
        </p> 
      </div>
      <div class="flex-item--40 photo-1">
        <img class="img-responsive img-center img-margin-vertical" src="assets/img/photo-1.jpg" alt="intunity">
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item--60 order2">
          <h1><strong>tune your life</strong></h1>
          <p>
            Do programu intunity można się wpisać i wypisać w dowolnej chwili.
          </p>
          <p>
            Intunity to elastyczność, uczestnik programu decyduje o miejscu zajęć oraz ich częstotliwości.
          </p>  
          <p>
            Intunity team to w pełni profesjonalni koncertujacy pasjonaci muzyki, gotowi zarażać dzwiękiem i stawić czoła każdemu "słoniowi, który nadepnął na ucho".
          </p>
        </div>
      <div class="flex-item--40 order1 photo-2">
        <img class="img-responsive img-center img-margin-vertical" src="assets/img/photo-2.jpg" alt="intunity">
      </div>
    </div>
  </div>
</section>