<section id="contact" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="underline">kontakt</h1>
      </div>
      <div class="col-sm-6">
        <h2>Kamil Serefko</h2>
        <h3>nauczyciel fortepianu</h3>
        <h3>piano teacher</h3>
        <h4>intunity</h4>
      </div>
      <div class="col-sm-6">
        <br>
        <p><a href="tel:+48-602-383-021">+48-602-383-021</a></p>
        <p><a href="mailto:kontakt@intunity.pl">kontakt@intunity.pl</a></p>
        <p><a href="http://www.intunity.pl">www.intunity.pl</a></p>
      </div>
    </div>
  </div>
</section>